body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: rgb(227, 227, 227);
}

/* cabeçalho */
.cabecalho {
    background-color: #0c6930;
    padding: 30px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    color: aliceblue;
    margin: 10px;
}

nav a {
    color: aliceblue;
    text-decoration: none;
    margin: 20px;
}

/* inicio */
section.inicio {
    background-color: #71bb8d41;
    margin: 30px;
    padding: 40px;
}

/* título, texto */
.conteudoInicio {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.conteudoInicio h1, p {
    margin: 10px;
    flex: 1;
}

/* imagem */
.inicioImg img {
    width: 100%;
    height: auto;
    grid-column: 2; 
    margin: 0;
}

/* quadros */
.inicioQuadros {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.quadroOrganização,
.quadroPrevisibilidade,
.quadroResponsabilidade {
    background-color: #71bb8d41;
    width: 280px;
    padding: 25px;
    text-align: center;
}

.inicioQuadros h1 {
    margin: 20px;
}

/* CRONOGRAMA */
.inicioCronograma {
    background-color: #71bb8d41;
    margin: 30px;
    padding: 40px;
}

.inicioCronograma, h3 {
    text-align: center;
}

.coletas {
    display: flex;
    justify-content: space-between;
    list-style: none;
    /* column-gap: 2; */
    padding: 0;
    margin: 0;
}

.lugares li, .coletaComum li, .coletaReciclavel li {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 8%;
}
